<div class="classWrapper">
  <div class="studentContainer">
    <div ng-repeat="student in class">
      <h1>{{student.name}}</h1>
      <section class="addScore">
        <md-button data-toggle="modal" data-target="#myModal">Add Score <i class="fa fa-plus"></i></button>
      </section>
      <section class="seeScore">
        <md-button ui-sref="scores({id: student.id})">See Scores</md-button>
      </section>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">New Score</h4>
      <div class="modal-body">
        <div class="form-group">
          <label for="stuSel">Student Name: </label>
            <select ng-model="studentid" class="form-control" ng-options="student.id as student.name for student in class" id="stuSel">
            </select>
            <label for="assignName">Name of Assignment: </label>
            <select ng-model="assignmentid" class="form-control" ng-options='assignment.id as (assignment.name + " " + assignment.subject) for assignment in assignments' id="assignName">
            </select>
          <label for="score">Score: </label>
          <input ng-model="score" type="text" id="score" placeholder="1-100">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="submitScore(studentid, assignmentid, score, subj)">Submit</button>
      </div>
    </div>
  </div>
</div>
