<div id="outStanding" class="behaveCard">
  <h1>Outstanding!</h1>
</div>
<div id="greatJob" class="behaveCard">
  <h1>Great Job!</h1>
</div>
<div id="goodDay" class="behaveCard">
  <h1>Good Day!</h1>
</div>
<div id="readyToLearn" class="behaveCard">
  <h1>Ready To Learn!</h1>
</div>
<div id="stopAndThink" class="behaveCard">
  <h1>Stop and Think</h1>
</div>
<div id="teachersChoice" class="behaveCard">
  <h1>Teacher's Choice</h1>
</div>
<div id="parentContact" class="behaveCard">
  <h1>Parent Contact</h1>
</div>
{{test}}
