<section class="homeWrapper">
  <div class="header-wrapper">
    <div>
      <h1>{{currentUser.name}}</h1>
      <h3>{{currentUser.username}}</h3>
      <h3>Room {{currentUser.id}}</h3>
    </div>
    <div>
      <img src="../images/edulogo.png" alt="logo">
      <h3>Unite, Educate, Empower</h3>
    </div>
  </div>
  <button ng-click="show = !show" class="menuButton"><i class="fa fa-bars"></i></button>
  <div class="menuBar" ng-show="show">
    <ul>
      <li><a ui-sref="home" ng-click="getLesson()">Lesson Plan</a></li>
      <li><a ui-sref="class">Student Performance</a></li>
      <li><a ui-sref="planner">Planner</a></li>
      <li><a ui-sref="classroom">Behaviour</a></li>
      <li><a ui-sref="login">Log Out</a></li>
    </ul>
  </div>
  <div class="viewsWrapper">
    <ui-view>
      <h1>{{date}}</h1>
      <div class="homeViewWrapper">
        <div class="timeBlock" ng-repeat="lesson in lessons">
          <div>
            <h3>{{lesson.name}}</h3>
            <p>{{lesson.startTime}} - {{lesson.endTime}}</p> <br>
            <button ui-sref="lesson({id: lesson.id})">View Lesson</button>
          </div>
          <div>
            <h3>{{lesson.subject}}</h3>
            <p>{{lesson.verification}}</p>
          </div>
        </div>
      </div>
    </ui-view>
  </div>
</section>
