<section class="homeWrapper">
  <div class="header-wrapper">
    <h1>{{currentUser.name}}</h1>
    <img src="../images/pic.jpg" alt="profile pic" />
  </div>
  <button ng-click="show = !show" class="menuButton"><i class="fa fa-bars"></i></button>
  <div class="menuBar" ng-show="show">
    <ul>
      <li><a ui-sref="home" ng-click="getLesson()">Lesson Plan</a></li>
      <li><a ui-sref="class">Student Performance</a></li>
      <li><a ui-sref="planner">Planner</a></li>
      <li><a ui-sref="classroom">Behaviour</a></li>
      <li><a ui-sref="login">Log Out</a></li>
    </ul>
  </div>
  <div class="viewsWrapper">
    <ui-view>
      <div class="homeViewWrapper">
        <div class="timeBlock" ng-repeat="lesson in lessons">
          <h3>{{lesson.name}}</h3>
          <p>{{lesson.startTime}} - {{lesson.endTime}}</p> <br>
          <button ui-sref="lesson({id: lesson.id})">View Lesson</button>
        </div>
      </div>
    </ui-view>
  </div>
</section>
