<section class="lessonSection">
  <div class="scoresHeader">
    <h1>{{lesson.name}}</h1>
  </div>
  <div class="lessonWrapper">
    <div class="row">
      <div class="col-md-4 objective lessonCard">
        <div class="">
          <h1>Objective</h1>
          <p>{{lesson.objective}}</p>
        </div>
        <md-button class="md-raised md-primary lessonEdit" data-toggle="modal" data-target="#objModal"><i class="fa fa-pencil-square-o"></i></md-button>
      </div>
      <div class="col-md-8 verification lessonCard">
        <div class="">
          <h1>Independent Practice</h1>
          <p>{{lesson.verification}}</p>
        </div>
        <md-button class="md-raised md-primary lessonEdit" data-toggle="modal" data-target="#verModal"><i class="fa fa-pencil-square-o"></i></md-button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 inform lessonCard">
        <div class="">
          <h1>Information</h1>
          <p>{{lesson.info}}</p>
        </div>
        <md-button class="md-raised md-primary lessonEdit" data-toggle="modal" data-target="#infoModal"><i class="fa fa-pencil-square-o"></i></md-button>
      </div>
      <div class="col-md-8 activity lessonCard">
        <div class="">
          <h1>Guided Practice</h1>
          <p>{{lesson.activity}}</p>
        </div>
        <md-button class="md-raised md-primary lessonEdit" data-toggle="modal" data-target="#actModal"><i class="fa fa-pencil-square-o"></i></md-button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 reqMat lessonCard">
        <div class="">
          <h1>Required Materials</h1>
          <ul>
            <li ng-repeat="mat in lesson.requiredmats">{{mat}}</li>
          </ul>
        </div>
        <md-button class="md-raised md-primary lessonEdit" data-toggle="modal" data-target="#matModal"><i class="fa fa-pencil-square-o"></i></md-button>
      </div>
      <div class="col-md-8 resources lessonCard">
        <div class="">
          <h1>Other Resources</h1>
          <ul>
            <li ng-repeat="misc in lesson.other">{{misc}}</li>
          </ul>
        </div>
        <md-button class="md-raised md-primary lessonEdit" data-toggle="modal" data-target="#miscModal"><i class="fa fa-pencil-square-o"></i></md-button>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="objModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <md-button class="md-warn close" data-dismiss="modal"><i class="fa fa-close"></i></md-button>
      <h4 class="modal-title">Edit Objective</h4>
      <div class="modal-body">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>New Objective:</label>
          <input ng-model="editObj" type="text">
        </md-input-container>
      </div>
      <div class="modal-footer">
        <md-button class="md-raised md-primary" data-dismiss="modal" ng-click="updateObj(editObj)">Submit</md-button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="verModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <md-button class="md-warn close" data-dismiss="modal"><i class="fa fa-close"></i></md-button>
      <h4 class="modal-title">Edit Independent Practice</h4>
      <div class="modal-body">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>New Independant Pracitce:</label>
          <input ng-model="editVer" type="text">
        </md-input-container>
      </div>
      <div class="modal-footer">
        <md-button class="md-raised md-primary" data-dismiss="modal" ng-click="updateVer(editVer)">Submit</md-button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="infoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <md-button class="md-warn close" data-dismiss="modal"><i class="fa fa-close"></i></md-button>
      <h4 class="modal-title">Edit Information</h4>
      <div class="modal-body">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>New Information:</label>
          <input ng-model="editInfo" type="text">
        </md-input-container>
      </div>
      <div class="modal-footer">
        <md-button class="md-raised md-primary" data-dismiss="modal" ng-click="updateInfo(editInfo)">Submit</md-button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="actModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <md-button class="md-warn close" data-dismiss="modal"><i class="fa fa-close"></i></md-button>
      <h4 class="modal-title">Edit Guided Practice</h4>
      <div class="modal-body">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>New Guided Practice:</label>
          <input ng-model="editAct" type="text">
        </md-input-container>
      </div>
      <div class="modal-footer">
        <md-button class="md-raised md-primary" data-dismiss="modal" ng-click="updateAct(editAct)">Submit</md-button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="matModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <md-button class="md-warn close" data-dismiss="modal"><i class="fa fa-close"></i></md-button>
      <h4 class="modal-title">Edit Materials</h4>
      <div class="modal-body">
        <label>New Materials List:</label>
        <md-input-container class="md-block" flex-gt-sm="">
          <md-checkbox ng-model="mat.pencil" aria-label="Pencil"> Pencil </md-checkbox>
          <md-checkbox ng-model="mat.paper" aria-label="Paper"> Paper </md-checkbox>
          <md-checkbox ng-model="mat.book" aria-label="Book"> Book </md-checkbox>
          <md-checkbox ng-model="mat.scissors" aria-label="Scissors"> Scissors </md-checkbox>
          <md-checkbox ng-model="mat.glue" aria-label="Glue"> Glue </md-checkbox>
          <md-checkbox ng-model="mat.crayons" aria-label="Crayons"> Crayons </md-checkbox>
        </md-input-container>
      </div>
      <div class="modal-footer">
        <md-button class="md-raised md-primary" data-dismiss="modal" ng-click="updateMat(mat)">Submit</md-button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="miscModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <md-button class="md-warn close" data-dismiss="modal"><i class="fa fa-close"></i></md-button>
      <h4 class="modal-title">Edit Other</h4>
      <div class="modal-body">
        <md-input-container class="md-block" flex-gt-sm="">
          <label>Update Other Materials:</label>
          <input ng-model="editMisc" type="text">
        </md-input-container>
        <caption>Seperate entries with a comma</caption>
      </div>
      <div class="modal-footer">
        <md-button class="md-raised md-primary" data-dismiss="modal" ng-click="updateMisc(editMisc)">Submit</md-button>
      </div>
    </div>
  </div>
</div>
