<div class="login-page">
  <div class="login-wrapper">
    <h1>Classroom Organizer</h1>
    <form>
      <label for="username">Username:</label>
      <input type="text" ng-model="user.username" placeholder="Username" name="username">
      <label for="password">Password:</label>
      <input type="password" ng-model="user.password" placeholder="Password" name="password">
      <div class="buttonWrapper">
        <md-button class="md-raised md-primary" data-toggle="modal" data-target="#teacherModal">New User</md-button>
        <md-button class="md-raised md-primary" ng-click="login(user)" type="submit">Log In</md-button>
      </div>
    </form>
  </div>
  <div class="demo-info">
    <p>Welcome to my website! feel free to take a look around using the following info:</p>
    <div class="demo-login">
      <h3>Username: uronlyhope</h3>
      <h3>Password: oldben</h3>
    </div>
  </div>
</div>

<div class="modal fade" id="teacherModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
      <h4 class="modal-title">New Teacher</h4>
      <div class="modal-body">
        <div class="form-group">
          <md-input-container class="md-block">
            <label>First and Last Name:</label> <br>
            <input type="text" ng-model="teach.name">
          </md-input-container>
          <md-input-container>
            <label>Username:</label> <br>
            <input type="text" ng-model="teach.username">
          </md-input-container>
          <md-input-container>
            <label>Password:</label> <br>
            <input type="password" ng-model="teach.password">
          </md-input-container>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addTeacher(teach)">Submit</button>
      </div>
    </div>
  </div>
</div>
