<!-- <div class="control">
  <button data-toggle="modal" data-target="#assignModal">New Assignment</button>
  <button data-toggle="modal" data-target="#lessonModal">Add Lesson Plan</button>
  <button data-toggle="modal" data-target="#studentModal">Add Student</button>
</div> -->
<div class="plannerWrapper">
  <md-content class="plannerContent">
    <md-nav-bar style="background: white;" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-sref="planner" name="page1">Assignments:</md-nav-item>
      <md-nav-item md-nav-sref="lessons" name="page2">Lesson Plans:</md-nav-item>
      <md-nav-item md-nav-sref="students" name="page3">Students:</md-nav-item>
    </md-nav-bar>
      <ui-view>
        <div class="plannerViews">
          <div ng-repeat="assignment in assignments"  class="listCard">
            <p>{{assignment.name}}</p>
            <md-button class="md-raised md-warn" ng-click="removeAssignment(assignment.id)"><i class="fa fa-trash-o"></i></md-button>
          </div>
        </div>
    </ui-view>
  </md-content>
</div>
<div class="control">
  <md-button class="md-raised md-primary" data-toggle="modal" data-target="#assignModal">New Assignment</md-button>
  <md-button class="md-raised md-primary" data-toggle="modal" data-target="#lessonModal">Add Lesson Plan</md-button>
  <md-button class="md-raised md-primary" data-toggle="modal" data-target="#studentModal">Add Student</md-button>
</div>

<div class="modal fade" id="assignModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
      <h4 class="modal-title">New Assignment</h4>
      <div class="modal-body">
        <div class="form-group">
          <label for="subjSel">Subject: </label>
          <select class="form-control" id="subjSel" ng-model="assign.subj" required>
            <option>Literacy</option>
            <option>Math</option>
            <option>Writing</option>
            <option>Reading</option>
            <option>Science</option>
          </select>
          <label for="assignmentType">Category: </label>
          <select class="form-control" id="assignmentType" ng-model="assign.type" required>
            <option>Test</option>
            <option>Quiz</option>
            <option>Homework</option>
            <option>In Class Work</option>
          </select>
          <label for="assignmentName">Name: </label>
          <input type="text" ng-model="assign.name" placeholder="Reading Comprehension 1" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addAssignment(assign)">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="lessonModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">New Lesson Plan</h4>
        <div class="modal-body">
          <div class="form-group">
            <div>
              <label for="name">Lesson Name:</label><br />
              <input type="text" name="name" ng-model="newLesson.name">
            </div>
            <div>
              <label for="obj">Objective:</label> <br />
              <input type="text" ng-model="newLesson.objective" placeholder="Lesson Goals" required>
            </div>
            <div>
              <label for="info">Information:</label><br />
              <input type="text" ng-model="newLesson.info" placeholder="The lesson is about..." required>
            </div>
            <div>
              <label for="activity">Activity:</label><br />
              <input type="text" ng-model="newLesson.activity" placeholder="Activity for the lesson" required>
            </div>
              <label for="verification">Verification</label><br />
              <select class="form-control" ng-model="newLesson.verification" ng-options='assignment.name as (assignment.name + " " + assignment.subject) for assignment in assignments' required>
            </select>
            <label>Required Materials</label>
              <div>
                <input type="checkbox" id="pencil" name="mats" ng-model="newLesson.reqMatsPen" value="pencil">
                <label for="pencil">Pencil</label>
              </div>
              <div>
                <input type="checkbox" id="paper" name="mats" ng-model="newLesson.reqMatsPap" value="paper">
                <label for="paper">Paper</label>
              </div>
              <div>
                <input type="checkbox" id="book" name="mats" ng-model="newLesson.reqMatsBook" value="book">
                <label for="book">Book</label>
              </div>
              <div>
                <input type="checkbox" id="scissors" name="mats" ng-model="newLesson.reqMatsSci" value="scissors">
                <label for="scissors">Scissors</label>
              </div>
              <div>
                <input type="checkbox" id="glue" name="mats" ng-model="newLesson.reqMatsGlue" value="glue">
                <label for="glue">Glue</label>
              </div>
              <div>
                <input type="checkbox" id="crayons" name="mats" ng-model="newLesson.reqMatsCray" value="crayons">
                <label for="crayons">Crayons</label>
              </div>
              <div>
                <label>Additional Materials:</label>
                <input type="text" ng-model="newLesson.misc" required>
                <caption>Seperate Entries with a comma</caption>
              </div>
              <div>
                <label>Subject:</label><br>
                <input type="text" ng-model="newLesson.subject" required>
              </div>
              <div>
                <label>Time:</label>
                <select class="form-control" ng-model="newLesson.timeStart" required>
                  <option value="1">8:00</option>
                  <option value="2">9:00</option>
                  <option value="3">10:00</option>
                  <option value="4">11:00</option>
                  <option value="5">12:00</option>
                  <option value="6">1:00</option>
                  <option value="7">2:00</option>
                  <option value="8">3:00</option>
                </select>
                <select class="form-control" ng-model="newLesson.timeEnd" required>
                  <option value="1">8:00</option>
                  <option value="2">9:00</option>
                  <option value="3">10:00</option>
                  <option value="4">11:00</option>
                  <option value="5">12:00</option>
                  <option value="6">1:00</option>
                  <option value="7">2:00</option>
                  <option value="8">3:00</option>
                </select>
              </div>
              <div>
                <label>Date:</label>
                <input type="date" ng-model="newLesson.date" required>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addLesson(newLesson)">Submit</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="studentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
      <h4>New Student</h4>
      <div class="modal-body">
        <div class="form-group">
          <div>
            <label>Name:</label><br>
            <input type="text" ng-model="newStud.name">
          </div>
          <div>
            <label>Legal Guardian:</label><br>
            <input type="text" ng-model="newStud.guardian">
          </div>
          <div>
            <label>Guardian Email:</label><br>
            <input type="text" ng-model="newStud.email">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" ng-click="addStudent(newStud)">Submit</button>
      </div>
    </div>
  </div>
</div>
