<!-- <md-menu>
  <md-button ng-click="$mdMenu.open()">New...</md-button>
  <md-menu-content>
    <md-menu-item>
      <md-button data-toggle="modal" data-target="#assignModal">New Assignment</md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button data-toggle="modal" data-target="#lessonModal">Add Lesson Plan</md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button data-toggle="modal" data-target="#studentModal">Add Student</md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu> -->
<div class="plannerWrapper">
  <md-content class="plannerContent">
    <div class="plannerHeader">
      <div class="plannerNavBar">
          <md-nav-bar class="plannerNav" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-sref="planner" name="page1">Assignments:</md-nav-item>
          <md-nav-item md-nav-sref="lessons" name="page2">Lesson Plans:</md-nav-item>
          <md-nav-item md-nav-sref="students" name="page3">Students:</md-nav-item>
        </md-nav-bar>
      </div>
      <div class="mobilePlannerNav">
        <md-menu>
          <md-button class="md-raised md-primary" ng-click="$mdMenu.open()"><i class="fa fa-bars"></i></md-button>
          <md-menu-content>
            <md-menu-item ui-sref="planner" name="page1">Assignments:</md-menu-item>
            <md-menu-item ui-sref="lessons" name="page2">Lesson Plans:</md-menu-item>
            <md-menu-item ui-sref="students" name="page3">Students:</md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <md-menu>
        <md-button class="md-raised md-primary" ng-click="$mdMenu.open()">New...</md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button data-toggle="modal" data-target="#assignModal">New Assignment</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button data-toggle="modal" data-target="#lessonModal">New Lesson Plan</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button data-toggle="modal" data-target="#studentModal">New Student</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
      <ui-view>
        <div class="plannerViews">
          <div ng-repeat="assignment in assignments"  class="listCard">
            <p>{{assignment.name}}</p>
            <p>{{assignment.subject}}</p>
            <md-button class="md-raised md-warn" ng-click="removeAssignment(assignment.id)"><i class="fa fa-trash-o"></i></md-button>
          </div>
        </div>
    </ui-view>
    <md-menu>
      <md-button ng-click="$mdMenu.open()" class="menuButton"><i class="fa fa-bars"></i></md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button class="menuBarLink" ui-sref="home" ng-click="getLesson()">Lesson</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button class="menuBarLink" ui-sref="class">Grades</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button class="menuBarLink" ui-sref="planner">Planner</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button class="menuBarLink" ui-sref="classroom">Behavior</md-button
        </md-menu-item>
        <md-menu-item>
          <md-button class="menuBarLink" ui-sref="login">Log Out</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
</div>


<div class="modal fade" id="assignModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
      <h4 class="modal-title">New Assignment</h4>
      <div class="modal-body">
        <div class="form-group">
          <label for="subjSel">Subject: </label>
          <select class="form-control" id="subjSel" ng-model="assign.subj" required>
            <option>Literacy</option>
            <option>Math</option>
            <option>Writing</option>
            <option>Reading</option>
            <option>Science</option>
          </select>
          <label for="assignmentType">Category: </label>
          <select class="form-control" id="assignmentType" ng-model="assign.type" required>
            <option>Test</option>
            <option>Quiz</option>
            <option>Homework</option>
            <option>In Class Work</option>
          </select>
          <label for="assignmentName">Name: </label>
          <input type="text" ng-model="assign.name" placeholder="Reading Comprehension 1" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addAssignment(assign)">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="lessonModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">New Lesson Plan</h4>
        <div class="modal-body">
          <div class="form-group">
            <div class="inputRow">
              <md-input-container class="md-block" flex-gt-sm="">
                <label for="name">Lesson Name:</label><br />
                <input type="text" name="name" ng-model="newLesson.name">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm="">
                <label for="obj">Objective:</label> <br />
                <input type="text" ng-model="newLesson.objective" required>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm="">
                <label>Subject:</label><br>
                <input type="text" ng-model="newLesson.subject" required>
              </md-input-container>
            </div>
            <div class="inputRow">
              <md-input-container class="md-block" flex-gt-sm="">
                <label for="info">Information:</label><br />
                <input type="text" ng-model="newLesson.info" required>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm="">
                <label for="activity">Guided Practice:</label><br />
                <input type="text" ng-model="newLesson.activity" required>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm="">
                <label>Additional Materials:</label> <br>
                <input type="text" ng-model="newLesson.misc" required> <br>
                <p>Seperate Entries with a comma</p>
              </md-input-container>
            </div>
            <div class="inputRow2">
              <div class="selectSection">
                <label for="verification">Independant Practice</label><br />
                <select class="form-control" ng-model="newLesson.verification" ng-options='assignment.name as (assignment.name + " " + assignment.subject) for assignment in assignments' required>
                </select>
                <div class="timeSelect">
                  <label>Time:</label>
                  <select class="form-control" ng-model="newLesson.timeStart" required>
                    <option value="1">8:00</option>
                    <option value="2">9:00</option>
                    <option value="3">10:00</option>
                    <option value="4">11:00</option>
                    <option value="5">12:00</option>
                    <option value="6">1:00</option>
                    <option value="7">2:00</option>
                    <option value="8">3:00</option>
                  </select>
                  <select class="form-control" ng-model="newLesson.timeEnd" required>
                    <option value="1">8:00</option>
                    <option value="2">9:00</option>
                    <option value="3">10:00</option>
                    <option value="4">11:00</option>
                    <option value="5">12:00</option>
                    <option value="6">1:00</option>
                    <option value="7">2:00</option>
                    <option value="8">3:00</option>
                  </select>
                </div>
              </div>
            <div>
              <label>Required Materials</label>
              <md-input-container class="md-block" flex-gt-sm="">
                <div>
                  <md-checkbox ng-model="newLesson.reqMatsPen" value="pencil">Pencil</md-checkbox>
                </div>
                <div>
                  <md-checkbox ng-model="newLesson.reqMatsPap" value="paper">Paper</md-checkbox>
                </div>
                <div>
                  <md-checkbox ng-model="newLesson.reqMatsBook" value="book">Book</md-checkbox>
                </div>
                <div>
                  <md-checkbox ng-model="newLesson.reqMatsSci" value="scissors">Scissors</md-checkbox>
                </div>
                <div>
                  <md-checkbox ng-model="newLesson.reqMatsGlue" value="glue">Glue</md-checkbox>
                </div>
                <div>
                  <md-checkbox ng-model="newLesson.reqMatsCray" value="crayons">Crayons</md-checkbox>
                </div>
              </md-inputcontainer>
            </div>
          </div>
          <div class="inputRow2">
            <div>
              <label>Date:</label> <br>
              <input type="date" ng-model="newLesson.date" required>
            </div>
            <div>
              <md-input-container class="md-block" flex-gt-sm="">
                <label>Vocabulary:</label> <br>
                <input type="text" ng-model="newLesson.vocabulary" required> <br>
                <p>Seperate Entries with a comma</p>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addLesson(newLesson)">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="studentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
      <h4>New Student</h4>
      <div class="modal-body">
        <div class="form-group">
          <div>
            <label>Name:</label><br>
            <input type="text" ng-model="newStud.name">
          </div>
          <div>
            <label>Legal Guardian:</label><br>
            <input type="text" ng-model="newStud.guardian">
          </div>
          <div>
            <label>Guardian Email:</label><br>
            <input type="text" ng-model="newStud.email">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" ng-click="addStudent(newStud)">Submit</button>
      </div>
    </div>
  </div>
</div>
