.behaveCard {
  height: 50px;
  width: 400px;
}
#outStanding {
  background: violet;
}
#greatJob {
  background: indigo;
}
#goodDay {
  background: blue;
}
#readyToLearn {
  background: green;
}
#stopAndThink {
  background: yellow;
}
#teachersChoice {
  background: orange;
}
#parentContact {
  background: red;
}
