.classWrapper {
  // background: grey;
  // background-size: cover;
  .studentContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    div {
      border: 1px solid black;
      height: 150px;
      width: 150px;
      margin-bottom: 15px;
      background: #013D83;
      border-radius: 5px;
      padding: 5px;
      position: relative;
      color: black;
      h1 {
        margin-bottom: 10px;
      }
      .addScore {
        position: absolute;
        bottom: 45px;
      }
      .seeScore {
        position: absolute;
        bottom: 5px;
      }
    }
  }
}
.chartsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.modal {
  .close {
    margin-top: 15px;
    margin-right: 15px;
  }
  h4 {
    margin-top: 15px;
    margin-left: 15px;
  }
  .form-control {
    margin-bottom: 15px;
  }
}
