body {
  overflow: hidden;
}
.behaviourWrapper {
  background: grey;
  // overflow: scroll;
  // height: 100vh;
  margin-top: 10px;
}
.behaveCard {
  width: 700px;
  height: 14vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding-left: 10px;
  color: black;
  .studentCard {
    height: 4em;
    width: 6em;
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    position: relative;
    border: 1px solid black;
    padding: 3px;
    .up {
      position: absolute;
      left: 3px;
      bottom: 3px;
    }
    .down {
      position: absolute;
      right: 3px;
      bottom: 3px;
    }
    button {
      background: black;
      color: #ddd;
      border: none;
      border-radius: 50%;
    }
  }
}
#outStanding {
  background: violet;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#greatJob {
  background: indigo;
}
#goodDay {
  background: blue;
}
#readyToLearn {
  background: green;
}
#stopAndThink {
  background: yellow;
}
#teachersChoice {
  background: orange;
}
#parentContact {
  background: red;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
