.control {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  // padding: 10px;
  position: absolute;
  bottom: 0;
  width: 88.75vw;
  button {
    height: 30px;
  }
}
.plannerWrapper  {
  // display: flex;
  // justify-content:
  .plannerContent {
    // background: grey;
    // width: 90vw;
    .plannerViews {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 88.75vw;
      background: grey;
      padding-top: 20px;
      .listCard {
          background: white;
          width: 375px;
          border: 2px solid black;
          margin-bottom: 5px;
          display: flex;
          justify-content: space-between;
          height: 50px;
          padding-left: 10px;
          padding-right: 10px;
          align-items: center;
          border-radius: 5px;
          button {
            height: 2em;
            width: 2em;
            font-size: 1.25em;
        }
      }
    }
  }
}
.inputRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  input {
    height: 40px;
  }
  p {
    font-size: .75em;
    color: red;
  }

}
.inputRow2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  .selectSection {
    width: 40%;
  }
}
.timeSelect {
  width: 10%;
}
